html{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAKy1jKadJWpspE51tXxbQm77wKet-oRyt-_w4sPg8J2rwSKjy");
    background-repeat: none-repeat;
    background-size: cover;
}
table{
    width:600px;
  }
  table,tr,th,td{
    padding: 5px;
    border: 1px solid black; 
  }