html{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_JfU8agXSK8cFFLNZpkIQ-yog6nFibIeewJpzcUGsu0BSu3Bsaw");
    background-repeat: none-repeat;
    background-size: cover;
}
table{
    width:600px;
  }
  table,tr,th,td{
    padding: 5px;
    border: 1px solid black; 
  }
  body{
      padding: 5px;
  }
  
  button{
      color: brown;
  }